table {
    margin: auto;
    border: 3.5px black solid;
    border-radius: 10px;
    border-spacing:  7.5px;
    width: 100%;
}

td {
    border: 1px black solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.785;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
    border: 2px;
    padding: 40px;
    
}

th {
    font-size: x-large;
    height: 100px;
    width: fit-content;
    border-radius: 10px;
    text-align: center



}

tr:hover{
    font-size: 120%;


}